In [1]:
import os
import config
v1, v2, v3 = config.spark_env("msi")
os.environ['SPARK_VERSION'] = v1
os.environ['JAVA_HOME'] = v2
os.environ['SPARK_HOME'] = v3
import findspark
import pyspark
from pyspark.sql import SparkSession
findspark.init()
spark = SparkSession.builder.appName("emissionsdataframe").getOrCreate()
from sqlalchemy import create_engine, insert
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import MetaData, update, Table
from sqlalchemy.orm import Session
from sqlalchemy.orm import sessionmaker
from sqlalchemy.exc import SQLAlchemyError
import pandas as pd
from pyspark.sql.types import IntegerType,BooleanType,DateType
from pyspark.sql.functions import col
from pyspark.sql import Row
from pyspark.sql.functions import array, col, explode, lit, struct
from pyspark.sql import DataFrame
from typing import Iterable
import numpy as np

In [2]:
rds_string = config.rds_string
engine = create_engine(f'postgresql://{rds_string}')
conn = engine.connect()
metadata = MetaData(engine)

In [ ]:
def sql_to_spark(table):
    from pyspark.sql import Row
    from sqlalchemy.orm import Session, sessionmaker
    from sqlalchemy import MetaData, Table
    metadata = MetaData(engine)
    table_var = Table(table, metadata, autoload=True, autoload_with=engine)
    Session = sessionmaker()
    Session.configure(bind=engine)
    session = Session()
    query = session.query(table_var).all()
    steve = table_var.metadata.tables[table].columns.keys()
    query_list = []
    for i in query:
        q_len = len(i)
        temp_dict = {}
        for j in range(q_len):
            key = steve[j]
            value = i[j]
            if value == None:
                value = float(0)
            temp_dict[key] = value
            if j == (q_len - 1):
                query_list.append(temp_dict)
    df = spark.createDataFrame(Row(**x) for x in query_list)
    return df

In [3]:
def sql_to_spark(table):
    from pyspark.sql import Row
    from sqlalchemy.orm import Session, sessionmaker
    from sqlalchemy import MetaData, Table
    metadata = MetaData(engine)
    table_var = Table(table, metadata, autoload=True, autoload_with=engine)
    Session = sessionmaker()
    Session.configure(bind=engine)
    session = Session()
    query = session.query(table_var).all()
    steve = table_var.metadata.tables[table].columns.keys()
    query_list = []
    for i in query:
        q_len = len(i)
        temp_dict = {}
        for j in range(q_len):
            key = steve[j]
            value = i[j]
            if value == None:
                value = float(0)
            temp_dict[key] = value
            if j == (q_len - 1):
                query_list.append(temp_dict)
    df = spark.createDataFrame(Row(**x) for x in query_list)
    return df

def query_maker(table):
    from sqlalchemy.orm import Session, sessionmaker
    from sqlalchemy import MetaData, Table
    metadata = MetaData(engine)
    table_var = Table(table, metadata, autoload=True, autoload_with=engine)
    Session = sessionmaker()
    Session.configure(bind=engine)
    session = Session()
    query = session.query(table_var).all()
    steve = table_var.metadata.tables[table].columns.keys()
    return (query, steve)

def spark_maker(query,country):
    c_list = []
    for i in query:
        q_len = len(i)
        if i[0] == country:
            temp_dict = {}
            for j in range(q_len):
                key = steve[j]
                value = i[j]
                if value == None:
                    value = float(0)
                temp_dict[key] = value
                if j == (q_len - 1):
                    c_list.append(temp_dict)
    df = spark.createDataFrame(Row(**x) for x in c_list) 
    return df

def sql_spark_trade(table, country):
    from sqlalchemy.orm import Session, sessionmaker
    from sqlalchemy import MetaData, Table
    metadata = MetaData(engine)
    table_var = Table(table, metadata, autoload=True, autoload_with=engine)
    Session = sessionmaker()
    Session.configure(bind=engine)
    session = Session()
    query = session.query(table_var).filter(table_var.c.country_or_area == country).all()
    steve = table_var.metadata.tables[table].columns.keys()
    c_list = []
    for i in query:
        q_len = len(i)
        if i[0] == country:
            temp_dict = {}
            for j in range(q_len):
                key = steve[j]
                value = i[j]
                if value == None:
                    value = float(0)
                temp_dict[key] = value
                if j == (q_len - 1):
                    c_list.append(temp_dict)
    df = spark.createDataFrame(Row(**x) for x in c_list)
    df = df.withColumn("year",df.year.cast('int'))
    df = df.withColumnRenamed("country_or_area","country")
    df_export = df.filter(df['flow'] == "Export")
    df_import = df.filter(df['flow'] == "Import")
    return (df_export, df_import)

def melt(
        df: DataFrame, 
        id_vars: Iterable[str], value_vars: Iterable[str], 
        var_name: str="variable", value_name: str="value") -> DataFrame:
    """Convert :class:`DataFrame` from wide to long format."""

    # Create array<struct<variable: str, value: ...>>
    _vars_and_vals = array(*(
        struct(lit(c).alias(var_name), col(c).alias(value_name)) 
        for c in value_vars))

    # Add to the DataFrame and explode
    _tmp = df.withColumn("_vars_and_vals", explode(_vars_and_vals))

    cols = id_vars + [
            col("_vars_and_vals")[x].alias(x) for x in [var_name, value_name]]
    return _tmp.select(*cols)

def min_max(df,column):
    max_ = df.agg({column: 'max'})
    min_ = df.agg({column: 'min'})
    return (min_, max_)

def min_int(df,column):
    arr = np.array(df.select(column).collect())
    y_l = []
    for i in arr:
        y_l.append(int(i[0]))
    min_ = min(y_l)
    max_ = max(y_l)
    return (min_, max_)

In [4]:
from sqlalchemy import MetaData, Table
metadata = MetaData(engine)
global_trade = Table("global_trade", metadata, autoload=True, autoload_with=engine)
trade_schema = global_trade.metadata.tables["global_trade"].columns.keys()

In [5]:
# spark_india=sql_to_spark("india_export_data")
spark_emissions=sql_to_spark('global_emissions')
spark_emissions = spark_emissions.withColumnRenamed("Entity","country")
spark_emissions = spark_emissions.withColumnRenamed("Year","year")
spark_gdp=sql_to_spark('gdp_data')
gdp_col = spark_gdp.columns
gdp_col2 = gdp_col[2:]
gdp_static_cols = gdp_col[:2]
spark_gdp_2 = melt(spark_gdp, id_vars=gdp_static_cols, value_vars=gdp_col2)
spark_gdp_2 = spark_gdp_2.withColumn("variable",spark_gdp_2.variable.cast('int'))
spark_gdp_2 = spark_gdp_2.withColumnRenamed("variable","year")
spark_gdp_2 = spark_gdp_2.withColumnRenamed("value","GDP")
spark_gdp_2 = spark_gdp_2.withColumnRenamed("Country ","country")
spark_gdp_2 = spark_gdp_2.select(['country','year','GDP'])
india_export_df, india_import_df = sql_spark_trade("global_trade","India")
india_export_df_min, india_export_df_max = min_int(india_export_df, 'year')
india_import_df_min, india_import_df_max = min_int(india_import_df, 'year')
india_gdp_spark = spark_gdp_2.filter(spark_gdp_2["country"] == "India")
india_gdp_spark_min, india_gdp_spark_max = min_int(india_gdp_spark, "year")
india_emissions = spark_emissions.filter(spark_emissions["country"] == "India")
india_emissions_min, india_emissions_max = min_int(india_emissions, 'year')
years_df = pd.DataFrame([{"min":india_export_df_min, "max":india_export_df_max},
 {"min":india_import_df_min, "max":india_import_df_max},
 {"min":india_gdp_spark_min, "max":india_gdp_spark_max},
 {"min":india_emissions_min, "max":india_emissions_max},
 {"min":spark_india_min,"max":spark_india_max}])
lower_bound = years_df['min'].max()
upper_bound = years_df['max'].min()
years_df = pd.DataFrame([{"min":india_export_df_min, "max":india_export_df_max},
 {"min":india_import_df_min, "max":india_import_df_max},
 {"min":india_gdp_spark_min, "max":india_gdp_spark_max},
 {"min":india_emissions_min, "max":india_emissions_max},
#  {"min":spark_india_min,"max":spark_india_max}])
                        ])
lower_bound = years_df['min'].max()
upper_bound = years_df['max'].min()
india_gdp_filt = india_gdp_spark.filter(india_gdp_spark["year"] >= lower_bound)
india_gdp_filt = india_gdp_filt.filter(india_gdp_filt["year"] <= upper_bound)
india_emissions_filt = india_emissions.filter(india_emissions["year"] >= lower_bound)
india_emissions_filt = india_emissions_filt.filter(india_emissions_filt["year"] <= upper_bound)
india_import_filt = india_import_df.filter(india_import_df["year"] >= lower_bound)
india_import_filt = india_import_filt.filter(india_import_filt["year"] <= upper_bound)
india_export_filt = india_export_df.filter(india_export_df["year"] >= lower_bound)
india_export_filt = india_export_filt.filter(india_export_filt["year"] <= upper_bound)
merged_df = india_gdp_filt.join(india_emissions_filt, india_gdp_filt.year == india_emissions_filt.year, 'outer') \
.select(india_gdp_filt.country ,india_gdp_filt.year,india_gdp_filt.GDP, india_emissions_filt.annual_co2_emissions_tonnes) \
.distinct()
merged_df = merged_df.orderBy(merged_df.year.asc())
india_import_sum = india_import_filt.groupBy('year').sum()
india_import_sum = india_import_sum.orderBy(india_import_sum.year.asc())
india_import_sum = india_import_sum.withColumnRenamed("sum(trade_usd)","import_trade_sum_usd")
india_import_sum = india_import_sum.withColumnRenamed("sum(weight_kg)","import_weight_sum_kg")
india_import_sum = india_import_sum.withColumnRenamed("sum(quantity)","import_quantity_sum")
india_export_sum = india_export_filt.groupBy('year').sum()
india_export_sum = india_export_sum.orderBy(india_export_sum.year.asc())
india_export_sum = india_export_sum.withColumnRenamed("sum(trade_usd)","export_trade_sum_usd")
india_export_sum = india_export_sum.withColumnRenamed("sum(weight_kg)","export_weight_sum_kg")
india_export_sum = india_export_sum.withColumnRenamed("sum(quantity)","export_quantity_sum")
merged_df2 = merged_df.join(india_import_sum, merged_df.year == india_import_sum.year, 'outer') \
.select(merged_df.country ,merged_df.year,merged_df.GDP, merged_df.annual_co2_emissions_tonnes,
       india_import_sum['import_trade_sum_usd'],india_import_sum['import_weight_sum_kg'],india_import_sum['import_quantity_sum']) \
.distinct()
merged_df2 = merged_df2.orderBy(merged_df2.year.asc())
final_merged_spark = merged_df2.join(india_export_sum, merged_df2.year == india_export_sum.year, 'outer') \
.select(merged_df2.country ,merged_df2.year,merged_df2.GDP, merged_df.annual_co2_emissions_tonnes,
       merged_df2['import_trade_sum_usd'],merged_df2['import_weight_sum_kg'],merged_df2['import_quantity_sum'],
       india_export_sum['export_trade_sum_usd'],india_export_sum['export_weight_sum_kg'],india_export_sum['export_quantity_sum']
       ) \
.distinct()
final_merged_spark = final_merged_spark.orderBy(final_merged_spark.year.asc())

In [6]:
spark_emissions=sql_to_spark('global_emissions')
spark_emissions = spark_emissions.withColumnRenamed("Entity","country")
spark_emissions = spark_emissions.withColumnRenamed("Year","year")

In [8]:
spark_gdp=sql_to_spark('gdp_data')
gdp_col = spark_gdp.columns
gdp_col2 = gdp_col[2:]
gdp_static_cols = gdp_col[:2]
spark_gdp_2 = melt(spark_gdp, id_vars=gdp_static_cols, value_vars=gdp_col2)
spark_gdp_2 = spark_gdp_2.withColumn("variable",spark_gdp_2.variable.cast('int'))
spark_gdp_2 = spark_gdp_2.withColumnRenamed("variable","year")
spark_gdp_2 = spark_gdp_2.withColumnRenamed("value","GDP")
spark_gdp_2 = spark_gdp_2.withColumnRenamed("Country ","country")
spark_gdp_2 = spark_gdp_2.select(['country','year','GDP'])

In [9]:
india_export_df, india_import_df = sql_spark_trade("global_trade","India")
india_export_df_min, india_export_df_max = min_int(india_export_df, 'year')
india_import_df_min, india_import_df_max = min_int(india_import_df, 'year')

In [11]:
india_gdp_spark = spark_gdp_2.filter(spark_gdp_2["country"] == "India")
india_gdp_spark_min, india_gdp_spark_max = min_int(india_gdp_spark, "year")

In [12]:
india_emissions = spark_emissions.filter(spark_emissions["country"] == "India")
india_emissions_min, india_emissions_max = min_int(india_emissions, 'year')

In [13]:
# spark_india_min, spark_india_max = min_int(spark_india, 'year')

In [77]:
years_df = pd.DataFrame([{"min":india_export_df_min, "max":india_export_df_max},
 {"min":india_import_df_min, "max":india_import_df_max},
 {"min":india_gdp_spark_min, "max":india_gdp_spark_max},
 {"min":india_emissions_min, "max":india_emissions_max},
#  {"min":spark_india_min,"max":spark_india_max}])
                        ])
lower_bound = years_df['min'].max()
upper_bound = years_df['max'].min()

In [78]:
india_gdp_filt = india_gdp_spark.filter(india_gdp_spark["year"] >= lower_bound)
india_gdp_filt = india_gdp_filt.filter(india_gdp_filt["year"] <= upper_bound)
# india_gdp_filt = india_gdp_filt.orderBy(india_gdp_filt.year.asc())

In [79]:
india_emissions_filt = india_emissions.filter(india_emissions["year"] >= lower_bound)
india_emissions_filt = india_emissions_filt.filter(india_emissions_filt["year"] <= upper_bound)
# india_emissions_filt = india_emissions_filt.orderBy(india_emissions_filt.year.asc())

In [80]:
india_import_filt = india_import_df.filter(india_import_df["year"] >= lower_bound)
india_import_filt = india_import_filt.filter(india_import_filt["year"] <= upper_bound)
# india_import_filt = india_import_filt.orderBy(india_import_filt.year.asc())

In [81]:
india_export_filt = india_export_df.filter(india_export_df["year"] >= lower_bound)
india_export_filt = india_export_filt.filter(india_export_filt["year"] <= upper_bound)
# india_export_filt = india_export_filt.orderBy(india_export_filt.year.asc())

In [82]:
merged_df = india_gdp_filt.join(india_emissions_filt, india_gdp_filt.year == india_emissions_filt.year, 'outer') \
.select(india_gdp_filt.country ,india_gdp_filt.year,india_gdp_filt.GDP, india_emissions_filt.annual_co2_emissions_tonnes) \
.distinct()

merged_df = merged_df.orderBy(merged_df.year.asc())

In [30]:
# india_import_sum = india_import_filt.groupBy('year').sum().collect()

In [83]:
india_import_sum = india_import_filt.groupBy('year').sum()
india_import_sum = india_import_sum.orderBy(india_import_sum.year.asc())
india_import_sum = india_import_sum.withColumnRenamed("sum(trade_usd)","import_trade_sum_usd")
india_import_sum = india_import_sum.withColumnRenamed("sum(weight_kg)","import_weight_sum_kg")
india_import_sum = india_import_sum.withColumnRenamed("sum(quantity)","import_quantity_sum")

In [84]:
india_export_sum = india_export_filt.groupBy('year').sum()
india_export_sum = india_export_sum.orderBy(india_export_sum.year.asc())
india_export_sum = india_export_sum.withColumnRenamed("sum(trade_usd)","export_trade_sum_usd")
india_export_sum = india_export_sum.withColumnRenamed("sum(weight_kg)","export_weight_sum_kg")
india_export_sum = india_export_sum.withColumnRenamed("sum(quantity)","export_quantity_sum")

In [85]:
merged_df2 = merged_df.join(india_import_sum, merged_df.year == india_import_sum.year, 'outer') \
.select(merged_df.country ,merged_df.year,merged_df.GDP, merged_df.annual_co2_emissions_tonnes,
       india_import_sum['import_trade_sum_usd'],india_import_sum['import_weight_sum_kg'],india_import_sum['import_quantity_sum']) \
.distinct()
merged_df2 = merged_df2.orderBy(merged_df2.year.asc())

In [87]:
final_merged_spark = merged_df2.join(india_export_sum, merged_df2.year == india_export_sum.year, 'outer') \
.select(merged_df2.country ,merged_df2.year,merged_df2.GDP, merged_df.annual_co2_emissions_tonnes,
       merged_df2['import_trade_sum_usd'],merged_df2['import_weight_sum_kg'],merged_df2['import_quantity_sum'],
       india_export_sum['export_trade_sum_usd'],india_export_sum['export_weight_sum_kg'],india_export_sum['export_quantity_sum']
       ) \
.distinct()
final_merged_spark = final_merged_spark.orderBy(final_merged_spark.year.asc())

In [91]:
final_merged_spark.show(truncate=False)

+-------+----+-----------+---------------------------+--------------------+--------------------+-------------------+--------------------+--------------------+-------------------+
|country|year|GDP        |annual_co2_emissions_tonnes|import_trade_sum_usd|import_weight_sum_kg|import_quantity_sum|export_trade_sum_usd|export_weight_sum_kg|export_quantity_sum|
+-------+----+-----------+---------------------------+--------------------+--------------------+-------------------+--------------------+--------------------+-------------------+
|India  |1990|1236.671208|6.165790984E8              |37086019677         |3.2819250453E10     |3.6282271392E10    |27688482159         |3.8376259571E10     |4.480699398E10     |
|India  |1991|1265.917481|6.567408929E8              |31062661051         |3.4226080286E10     |3.8234796507E10    |27430173100         |3.6816498359E10     |3.9646091225E10    |
|India  |1992|1338.664595|6.987569497E8              |39084634969         |4.2689104735E10     |4.7599677372E10    |31470615068         |2.976200432E10      |3.3908169243E10    |
|India  |1993|1407.473802|7.228942594E8              |37539123801         |4.5296021901E10     |5.0606677042E10    |33510556122         |3.6266524584E10     |4.0448555076E10    |
|India  |1994|1503.745417|7.642419667E8              |44362429749         |4.8759351832E10     |5.3607525051E10    |38798524293         |3.4873621373E10     |3.7277200863E10    |
|India  |1995|1620.175387|8.114607871E8              |56075516124         |5.0914090335E10     |5.5808446634E10    |47345419557         |4.6788286598E10     |4.9065093376E10    |
|India  |1996|1741.084404|8.788269645E8              |61838156581         |6.7456906926E10     |7.3519563361E10    |49095594933         |3.575007322E10      |4.0058339268E10    |
|India  |1997|1808.708364|9.15049313E8               |65244544106         |8.5926438534E10     |9.2643260702E10    |50999841765         |4.3681753702E10     |4.7468333112E10    |
|India  |1998|1906.7799  |9.335492581E8              |68715993711         |1.09386297669E11    |1.22652887432E11   |49432478707         |3.5647035447E10     |3.9922565692E10    |
|India  |1999|2067.740994|9.952330716E8              |82989264268         |2.094902297714E12   |2.105394003047E12  |54250796602         |2.6084693209E10     |3.152141065E10     |
|India  |2000|2156.689919|1.029637759E9              |88809407353         |1.85812021693E11    |1.85863358242E11   |61829613736         |6.2039754428E10     |6.2374173447E10    |
|India  |2001|2270.718563|1.035640714E9              |83082132139         |1.1884456079E11     |1.19019007281E11   |64777358825         |4.7158010606E10     |4.7277022275E10    |
|India  |2002|2354.2651  |1.047595651E9              |93556550228         |1.29589372724E11    |1.29770545102E11   |74010134226         |1.06139036309E11    |1.0629646545E11    |
|India  |2003|2544.112251|1.091873009E9              |117113653750        |1.91771233742E11    |1.91894740138E11   |87385242955         |8.4514295716E10     |8.4585830894E10    |
|India  |2004|2774.420858|1.145545234E9              |160826958697        |1.49801280064E11    |1.49987863204E11   |112791341712        |1.01081742643E11    |1.01298270978E11   |
|India  |2005|3039.128698|1.210145667E9              |228394163877        |1.78999653579E11    |1.78911566125E11   |150374185542        |1.45724897516E11    |1.45815844678E11   |
|India  |2006|3331.592127|1.287149211E9              |290621658680        |2.00495797226E11    |1.9881307939E11    |181803936258        |1.56714305329E11    |1.56853552996E11   |
|India  |2007|3628.001338|1.390253491E9              |351174204585        |2.22579072914E11    |2.22954969781E11   |222885270889        |1.55177229521E11    |1.55172601763E11   |
|India  |2008|3757.289184|1.547991039E9              |528157375162        |2.48347446376E11    |2.4861701084E11    |280379347198        |1.45606483604E11    |1.45219274186E11   |
|India  |2009|4026.380833|1.72012056E9               |432232768985        |2.80845050648E11    |2.8138454056E11    |277972997029        |1.74540231E11       |1.84777681356E11   |
+-------+----+-----------+---------------------------+--------------------+--------------------+-------------------+--------------------+--------------------+-------------------+
only showing top 20 rows