In [1]:
import os
spark_version = 'spark-3.1.2'
os.environ['SPARK_VERSION']=spark_version
os.environ["JAVA_HOME"] = "C:\Program Files\Java\jdk-11.0.11"
os.environ["SPARK_HOME"] = f"C:\spark\spark-3.1.2-bin-hadoop3.2"
import findspark
import pyspark
from pyspark.sql import SparkSession

In [2]:
findspark.init()
spark = SparkSession.builder.appName("emissionsdataframe").getOrCreate()

In [13]:
from sqlalchemy import create_engine, insert
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import MetaData, update, Table
from sqlalchemy.orm import Session
from sqlalchemy.orm import sessionmaker
from sqlalchemy.exc import SQLAlchemyError
# from sql_query_to_csv import sql_query_to_csv
rds_string = 'postgres:postgres@emissions.cgiuxtnnybgt.us-west-1.rds.amazonaws.com:5432/emissions_db'

In [8]:
engine = create_engine(f'postgresql://{rds_string}')
metadata = MetaData(engine)
gdp_data = Table('gdp_data', metadata, autoload=True, autoload_with=engine)

In [17]:
query = session.query(gdp_data).all()

In [23]:
import pandas as pd
conn = engine.connect()

In [26]:
gdp_df = pd.read_sql_query('select * from gdp_data', con=conn)

In [27]:
emmissions_df = pd.read_sql_query('select * from global_emissions', con=conn)

In [35]:
india_df = pd.read_sql_query('select * from india_export_data', con=conn)

In [33]:
trade_df = pd.read_sql_query('select * from global_trade', con=conn)

In [67]:
schem = gdp_df.columns
schema_list = []
for i in schem:
    schema_list.append(i)

In [45]:
gdp_csv = gdp_df.to_csv(index=False)

In [68]:
sparkDF=spark.createDataFrame(gdp_df, verifySchema=True, schema=schema_list)

In [48]:
from pyspark.sql.types import StructType, StructField, StringType
schema = StructType([StructField("foo", StringType(), True)])
# df = spark.createDataFrame([[None]], schema=schema)

In [49]:
df = spark.createDataFrame([[None]], schema=schema)

In [50]:
df.show()

+----+
| foo|
+----+
|null|
+----+

In [55]:
gdp_df = gdp_df.fillna(0)

In [70]:
spark.conf.set("spark.sql.execution.arrow.enabled","true")
sparkDF=spark.createDataFrame(gdp_df) 
sparkDF.printSchema()
sparkDF.show()

C:\Users\Starkiller\AppData\Local\Programs\Python\Python39\lib\site-packages\pyspark\sql\pandas\conversion.py:289: UserWarning: createDataFrame attempted Arrow optimization because 'spark.sql.execution.arrow.pyspark.enabled' is set to true; however, failed by the reason below:
  PyArrow >= 1.0.0 must be installed; however, it was not found.
Attempting non-optimization as 'spark.sql.execution.arrow.pyspark.fallback.enabled' is set to true.
  warnings.warn(msg)

root
 |-- Country : string (nullable = true)
 |-- Country Code: string (nullable = true)
 |-- 1990: double (nullable = true)
 |-- 1991: double (nullable = true)
 |-- 1992: double (nullable = true)
 |-- 1993: double (nullable = true)
 |-- 1994: double (nullable = true)
 |-- 1995: double (nullable = true)
 |-- 1996: double (nullable = true)
 |-- 1997: double (nullable = true)
 |-- 1998: double (nullable = true)
 |-- 1999: double (nullable = true)
 |-- 2000: double (nullable = true)
 |-- 2001: double (nullable = true)
 |-- 2002: double (nullable = true)
 |-- 2003: double (nullable = true)
 |-- 2004: double (nullable = true)
 |-- 2005: double (nullable = true)
 |-- 2006: double (nullable = true)
 |-- 2007: double (nullable = true)
 |-- 2008: double (nullable = true)
 |-- 2009: double (nullable = true)
 |-- 2010: double (nullable = true)
 |-- 2011: double (nullable = true)
 |-- 2012: double (nullable = true)
 |-- 2013: double (nullable = true)
 |-- 2014: double (nullable = true)
 |-- 2015: double (nullable = true)
 |-- 2016: double (nullable = true)
 |-- 2017: double (nullable = true)
 |-- 2018: double (nullable = true)
 |-- 2019: long (nullable = true)

+--------------------+------------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+----+
|            Country |Country Code|       1990|       1991|       1992|       1993|       1994|       1995|       1996|       1997|       1998|       1999|       2000|       2001|       2002|       2003|       2004|       2005|       2006|       2007|       2008|       2009|       2010|       2011|       2012|       2013|       2014|       2015|       2016|       2017|       2018|2019|
+--------------------+------------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+----+
|               Aruba|         ABW|24101.10943|25870.75594| 26533.3439| 27430.7524|28656.52021|28648.99002|28499.08943|30215.94923|30512.68391| 30728.0545|33120.05418|32117.91232|30862.22269|31387.28296| 34176.4646|35207.57724|36362.21932|37865.49349| 38515.2638|34693.08675|33732.84745|35492.61849|35498.98209|37419.89282|38223.37226|38249.05487|38390.27165|39454.62983|        0.0|   0|
|         Afghanistan|         AFG|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|839.4858861|  888.15337| 885.840819|979.2739786|1031.643135|1176.126357|1218.118215|1454.663015|1637.377987|1626.764793| 1806.76393|1874.765634|1897.525938|1886.692977| 1896.99252|1934.636754|1955.006208|   0|
|              Angola|         AGO|3089.683369|3120.356148|2908.160798| 2190.76816|2195.532289|2496.199493|2794.896906|2953.342709|3027.341795|3037.721175|3097.307292|3191.266323|3564.096026|3614.607278|3978.697194|4555.185842|5048.876449|5697.251328|6221.423373|6092.783245|6230.297028|6346.395122|6772.528333|6980.423038|7199.245478|7096.600615|6756.935074| 6650.58494|6452.355165|   0|
|             Albania|         ALB|2549.473022|1909.114038|1823.307673|2057.449657|2289.873135|2665.764906|2980.066288|2717.362124|3021.014738|3471.652592|3861.334172|4301.352799|4661.371553|4994.518807|5422.778462|5865.306196|6559.783257|7276.302969|8228.374239|8814.810856|9628.025783|10207.75235|10526.23545|10571.01065|11259.22589|11662.03048|11868.17897|12930.14003| 13364.1554|   0|
|          Arab World|         ARB|6808.206995|6872.273195|7255.328362|7458.647059|7645.682856| 7774.20736|8094.149842|8397.515692|8797.662606|8938.451524|9415.632618|9584.108301|9581.797143|9974.641898|10937.31609|11646.48609|12442.18794|13041.92553|13739.72775|13640.84678|14127.77802|14518.82745|15423.46539|15824.78011|16153.24486|16501.79259| 16935.3833|17099.88939| 17570.1376|   0|
|United Arab Emirates|         ARE|72906.52012|71753.72956|71567.82752|70082.38933|72471.68729|74994.38062|76848.79224|80390.06411|77421.10866|76654.25591|82215.31447|80843.60537|79863.48973|82946.33521|85147.21909|81635.46797|79970.73625| 72802.1616|66641.48428|56975.52938|54230.17367|56574.28818|58961.20201|62641.83699|66443.99758|70212.09301|72386.09047|73137.87019|75075.25741|   0|
|           Argentina|         ARG|7380.115031|8210.643432|8942.569853|9777.214005|10435.91077|10225.11871|10857.42967|11802.84259|12255.67626|11878.73117|11916.58261|11514.61911|10310.12912|11307.75798| 12527.8005|13916.53051|15334.93686|16994.69598|17850.13019|16753.39489|18524.85676|19817.45048|19764.22501|20365.61335|20008.32064|20551.83319|20130.40803|20843.15507|20610.56855|   0|
|             Armenia|         ARM| 2428.55896|2237.752728|1356.210786|1296.178498|1429.102386|1591.894846|1742.734114|1852.200102| 2025.55542|2136.121598|2327.362521|2621.854364|3031.121882|3539.630267|4038.455075|4772.590047| 5609.16897|6609.171824|7264.561195|6326.657969| 6565.67866|7019.767748|7649.061531|8003.087763|8405.073655|8727.385447|8808.572714|9620.818491|10343.17559|   0|
| Antigua and Barbuda|         ATG|11326.70262|11806.23441|12005.98679|12682.47535|13524.67029|12924.35537|13729.75755|14416.11487|14951.18066| 15423.9946|16526.98722|15804.12156|15994.17615|17059.13716|18284.46766|19784.96679|  22634.001|24994.55822|25064.10177|21852.20308|20134.81725|19876.21532|20672.91206|20656.38158|21599.19914|22422.02939|23670.30226|24644.55188|26868.13352|   0|
|           Australia|         AUS|17329.70661|17790.98014|18189.37874|19131.84187|20064.45901|20894.39721|21972.05265|22934.78601|24196.72128|25264.36436|26328.67368|27336.68269|28718.24108|29693.90591|31327.37749|32575.06925|34306.65231|36560.40565|37459.30765|40300.30823|39324.36895|41965.35842|42826.78958|45902.04795|46880.22066|46276.15069|47305.88002|49628.81181|51663.36509|   0|
|             Austria|         AUT|19442.31204|20585.01931|21259.63675|21698.30767|22606.82964|23660.40861|24529.20783|25424.06993|26674.60955|27606.48303|29380.06604|29715.22222|31178.69333|32108.63255|33743.04471|35013.71404|37623.07576|39392.54059|41316.22518|40926.52376|42006.04688|44452.73275|46457.34578|47922.04912|48799.71547|49879.26647|51809.51363|53937.06638|55454.68929|   0|
|          Azerbaijan|         AZE|5703.869981|5765.287722|4495.397859|3485.511594|2820.251167|2510.538535|   2563.721|2732.700287|3011.087717|3251.934938|3663.445253| 4082.68233|4504.976485|5018.890056|5581.871258|7290.229953|9989.206473|12724.34834|14047.66019| 15162.8878|15884.04479|15754.15236|16193.39567|17216.17853| 17808.9019|17973.09067|17417.08669|17525.27963|18044.13678|   0|
|             Burundi|         BDI|666.7039012|707.3092624|715.2297296|673.1692275|649.8996288|601.9874705|557.1693503|552.1150432|578.8523018|573.7140549|571.3263123|582.4678169|601.5297558|587.2425099|612.4744378|617.0619445|648.7489871|666.8755949|689.7486433|698.1735533|718.7144691| 739.219255|762.4224795|788.8937827|812.0300436|764.1957633|743.9035976|737.9785829| 744.182072|   0|
|             Belgium|         BEL|18659.11956|19570.87419|20240.98124|20441.22271|21485.12027|22411.75195|22715.63203|23729.79048|  24368.523|25440.84119|27788.43052|28800.12971|30282.28865|30898.60744|32033.87096|33177.89095|35222.60515|36755.65633|37883.33194|37757.28209|39836.89771|40942.37271|42290.76205|43671.11959|44929.68559|46213.26653|47855.49023|50220.86667|51407.99834|   0|
|               Benin|         BEN|949.1686909|988.7710146|1005.614605|1052.038609|1059.292046| 1109.72406|1142.406294|1192.095665|1216.727387|1262.405244|1326.089814|1384.897282|1428.017897|1459.584662| 1518.93259|1546.708441|1609.104674|1701.971136|1769.252435|1773.729771|1781.563317|1820.889304|1891.530388|2006.327881|2114.480315|2122.235592|2169.755807| 2276.59573|2424.755845|   0|
|        Burkina Faso|         BFA|547.9151714|601.5015452|600.2564122|618.7524048|623.0491023|654.2616207|719.4563667|756.7321851|798.4742693|845.7668493|855.7447616|906.0727906|933.2403657|995.4642409|1037.231644|1128.295648|1198.756926|1261.982902|1339.245523|1348.005973|  1394.2531|1472.715841|1550.630684|1620.205369|1672.023437|1704.859643|1772.848279|1866.514733|1984.884306|   0|
|          Bangladesh|         BGD|  860.21051|899.1421235|948.2721469|994.6737327|1033.086949|1085.349904|1130.860059|1176.895726|1226.020893|1275.738234|1346.743205|1419.137782|1469.845761|1541.185923|1638.916165|1773.888588|1923.417573|2088.720935|2231.689464|2335.918717|2466.902949|2650.729933|2844.702565|3033.404632|3240.885623|3451.398507|3696.776193|3998.419424|4371.754986|   0|
|            Bulgaria|         BGR|7493.206899|7162.974001|6866.765558|6980.869912|7284.255361|7683.853685|6779.308032|5696.765277|6141.212577|5767.167926|6377.837474|6908.956055|7726.400977|8343.138854|9122.849554|10211.27988|11313.55081|12800.81668|14328.98986| 14146.1069|14934.13274|15676.13334|16208.22043|16571.02876|17534.30326|18186.48723|19500.32945|20948.19428|21960.36994|   0|
|             Bahrain|         BHR|22786.05097|25491.20716|27107.71135|30554.78561|30371.76011|31420.32574|32448.98025|33099.13889| 34002.2607|34685.45229|35763.21023|35689.48306|35551.58974|36338.58416|37461.93299|38492.09419|39170.68512|40300.17978|40565.77983| 39422.3421|39740.61794|40168.32789|41753.10138|44273.42185|46331.98242|46911.96227|47215.78618|47660.71731|47303.04851|   0|
|        Bahamas, The|         BHS|20120.34846|19565.53696|18882.62026|19028.99141|19700.16227|20668.90774|21643.23036|22206.17095| 23253.1428| 24976.2782|26238.18446|27102.45479|27812.35914|27482.05591|27956.38229|29258.70162|30326.45273| 30996.4288|30299.92548|28760.51286|29099.05721|29503.70807|30656.13395|29977.73977|30482.19811|30696.33839|30863.26693|31155.14475|32087.72915|   0|
+--------------------+------------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+----+
only showing top 20 rows

In [82]:
sparkDF.filter(sparkDF["Country "] == "Afghanistan").select(['Country ']).show()

+-----------+
|   Country |
+-----------+
|Afghanistan|
+-----------+

In [83]:
sparkDF.select(['Country ']).show()

+--------------------+
|            Country |
+--------------------+
|               Aruba|
|         Afghanistan|
|              Angola|
|             Albania|
|          Arab World|
|United Arab Emirates|
|           Argentina|
|             Armenia|
| Antigua and Barbuda|
|           Australia|
|             Austria|
|          Azerbaijan|
|             Burundi|
|             Belgium|
|               Benin|
|        Burkina Faso|
|          Bangladesh|
|            Bulgaria|
|             Bahrain|
|        Bahamas, The|
+--------------------+
only showing top 20 rows

In [80]:
sparkDF.columns

['Country ',
 'Country Code',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019']